@import '../../../styles/vars.scss';
@import '../../../styles/mixins.scss';

.header_logo {
  font-size: 30px;
  color: $green;
  text-transform: uppercase;
  font-weight: 700;
  @include otherFamilyText;
}
