@import '../../../styles/vars.scss';
@import '../../../styles/mixins.scss';

.registration_buttons {
  & > *:not(:last-child) {
    margin-bottom: 20px;
  }
}

.registration_button {
  @include registrationSizes;

  border-radius: 5px;

  font-size: 18px;
  color: $white;
  background-color: $green;

  @include defaultTransition;

  @include hoverGreen;
}

.registration_google {
  display: flex;
  justify-content: center;

  div {
    cursor: pointer;

    height: 50px;
    width: 50px;

    border-radius: 50%;

    background-color: $doubleGrey;

    @include flexCenter;

    @include defaultTransition;

    &:hover {
      background-color: darken($doubleGrey, 20);
    }
  }

  @include iconSize;
}

.registration_accout {
  text-align: center;
}
