@import '../../../styles/vars.scss';
@import '../../../styles/mixins.scss';

.registration_buttons {
  & > *:not(:last-child) {
    margin-bottom: 20px;
  }
}

.registration_button {
  @include registrationSizes;

  border-radius: 5px;

  font-size: 18px;
  color: $white;
  background-color: $green;

  @include defaultTransition;

  @include hoverGreen;
}

.registration_forgotten {
  cursor: pointer;
  text-align: end;

  @include defaultHover;
}

.registration_accout {
  text-align: center;
}
