@import '../../styles/vars.scss';
@import '../../styles/mixins.scss';

.profile_block {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
}

.profile_buttons {
  display: flex;
  align-items: center;

  p {
    text-decoration: underline;

    margin-right: 15px;
  }

  justify-content: space-between;
}

.profile_button {
  padding: 5px 10px;

  @include flexCenter;
  @include defaultTransition;

  border-radius: 5px;

  color: $white;
}

.profile_button--wrong {
  background-color: $red;

  &:hover {
    background-color: darken($red, 5);
  }
}

.profile_button--green {
  background-color: $green;

  &:hover {
    background-color: darken($green, 5);
  }
}

.profile_button--orange {
  background-color: $orange;
  color: $black;

  &:hover {
    background-color: darken($orange, 15);
  }
}
