.registration {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
}

.registration_body {
  display: flex;
  flex-direction: column;

  & > *:not(:last-child) {
    margin-bottom: 25px;
  }
}
