@import '../../../styles/mixins.scss';

.registration_inputs {
  display: flex;
  flex-direction: column;

  & > *:not(:last-child) {
    margin-bottom: 20px;
  }
}

.registration_forgotten {
  cursor: pointer;
  text-align: end;

  @include defaultHover;
}

.registration_block {
  position: relative;
}
