@import '../../../styles/vars.scss';
@import '../../../styles/mixins.scss';

.header_right {
  display: flex;
  align-items: center;
}

.header_settings {
  cursor: pointer;

  @include iconSize;

  margin-right: 15px;
}

.header_profile {
  cursor: pointer;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: $green;

  @include defaultTransition;

  &:hover {
    background-color: lighten($green, 10);
  }
}
