@import '../../../styles/vars.scss';

.header_right {
  display: flex;
  align-items: center;
}

.header_settings {
  cursor: pointer;
  img {
    width: 25px;
    height: 25px;
  }

  margin-right: 15px;
}

.header_profile {
  cursor: pointer;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: $green;

  transition: all 200ms ease-in;

  &:hover {
    background-color: lighten($green, 10);
  }
}
