@import '../../../styles/vars.scss';
@import '../../../styles/mixins.scss';

.header_right {
  display: flex;
  align-items: center;
}

.header_settings {
  cursor: pointer;

  @include iconSize;
}

.header_profile {
  cursor: pointer;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: $green;

  margin-right: 10px;

  @include defaultTransition;

  @include hoverGreen;
}
