@import '../../../styles/vars.scss';
@import '../../../styles/mixins.scss';

.registration_title {
  font-size: 24px;
  @include otherFamilyText;
  font-weight: 900;

  margin-bottom: 5px;

  text-shadow: 0px 4px 4px rgba($black, 0.09);
}
