@import '../../styles/vars.scss';
@import '../../styles/mixins.scss';

.header {
  width: 100%;
  height: $headerHeight;

  position: fixed;
  top: 0;
  left: 0;

  background-color: $grey;
  border-bottom: 1px solid darken($grey, 20);

  padding: 0 17px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 1000;
}

.header_center {
  & > *:not(:last-child) {
    margin-right: 10px;
  }
}

.header_button {
  height: 30px;
  border-radius: 5px;
  padding: 0 10px;

  @include defaultTransition;

  color: $white;

  background-color: $green;

  &:hover {
    background-color: darken($green, 5);
  }
}
