@import '../../styles/vars.scss';

.header {
  width: 100%;
  height: $headerHeight;

  position: fixed;
  top: 0;
  left: 0;

  background-color: $grey;
  border-bottom: 1px solid darken($grey, 20);

  padding: 0 17px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
