@import '../../styles/vars.scss';

.header {
  width: 100%;
  height: $headerHeight;

  position: fixed;
  top: 0;
  left: 0;

  background-color: darken($grey, 10);
  border-bottom: 1px solid darken($grey, 30);
}
