@import '../../styles/vars.scss';
@import '../../styles/mixins.scss';

.sidebar {
  height: 100%;

  position: fixed;
  left: 0;
  top: 0;

  background-color: $grey;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-top: $headerHeight;
  padding-bottom: 15px;

  @include defaultTransition;
}

.sidebar--min {
  width: $sidebarWidthMin;
}

.sidebar--max {
  width: $sidebarWidthMax;
}

.sidebar--max--opened {
  width: $sidebarWidthMax;
  transition: all 0ms ease-in;
}

.sidebar--min--closed {
  width: $sidebarWidthMin;
  transition: all 0ms ease-in;
}
