@import '../../styles/vars.scss';

.sidebar {
  height: 100%;

  position: fixed;
  left: 0;
  top: 0;

  background-color: $grey;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-top: $headerHeight;
  padding-bottom: 15px;

  transition: all 200ms ease-in;
}

.sidebar--min {
  width: $sidebarWidthMin;
}

.sidebar--max {
  width: $sidebarWidthMax;
}
