@import '../../styles/mixins.scss';
@import '../../styles/vars.scss';

.settings_block {
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    margin-right: 10px;
  }

  a {
    @include defaultHover;
  }
}

.settings_button {
  padding: 5px 10px;

  @include flexCenter;
  @include defaultTransition;

  &:hover {
    background-color: darken($doubleGrey, 30);
  }

  background-color: $doubleGrey;

  border-radius: 5px;
}
