@import '../../../styles/vars.scss';
@import '../../../styles/mixins.scss';

.vip-status--yes {
  color: $green;
}

.vip-status--no {
  color: $red;
}

.profile_id {
  padding: 5px 10px;

  cursor: pointer;

  @include flexCenter;
  @include defaultTransition;

  &:hover {
    background-color: darken($doubleGrey, 30);
  }

  background-color: $doubleGrey;

  border-radius: 5px;
}

.profile_email {
  margin-left: 5px;
}
