@import '../../../styles/vars.scss';
@import '../../../styles/mixins.scss';

.vip-status--yes {
  color: $green;
}

.vip-status--no {
  color: $red;
}

.profile_id {
  font-weight: 600;
  cursor: pointer;
  background-color: $grey;
  padding: 5px 20px;
  border-radius: 5px;

  @include defaultTransition;

  &:hover {
    background-color: darken($grey, 10);
  }
}

.profile_email {
  margin-left: 5px;
}
