html[data-theme='dark'] {
  color: $blackDarkMode;

  body {
    background-color: lighten($greyDarkMode, 5);
  }

  .header {
    background-color: $greyDarkMode;
    border-bottom: 1px solid $white;

    .header_logo {
      color: $white;
    }
  }

  .sidebar {
    background-color: $greyDarkMode;
    border-right: 1px solid $white;
    .sidebar_card {
      img {
        filter: brightness(10);
      }
    }
  }

  .header_settings {
    img {
      filter: brightness(10);
    }
  }

  .custom-photo-upload {
    img {
      filter: invert(10);
    }
  }

  .profile_id,
  .settings_button:last-child,
  #settings_select {
    color: $white;

    &:hover {
      background-color: darken(lighten($greyDarkMode, 20), 10);
    }

    background-color: lighten($greyDarkMode, 20);
  }

  .sidebar_button {
    color: $white;
  }

  .settings_sidebar_rectangle {
    border: 1px solid $white;
  }

  .settings_block {
    a {
      color: $orange;
    }
  }

  .loader {
    border: 5px solid $white;
    border-bottom-color: transparent;
  }

  .photo-card,
  .photos-list_creator {
    background-color: lighten($greyDarkMode, 10);
  }

  .photo-card_panel {
    background-color: $greyDarkMode;

    p:not(:last-child):hover {
      background-color: darken($greyDarkMode, 15);
    }
  }

  .photo-card_submenu > span {
    background-color: $white;
  }
}
