@import '../../styles/vars.scss';

.help-window {
  position: absolute;
  right: 0;
  bottom: -15px;

  color: lighten($red, 20);

  font-size: 12px;
}

.help-window--helpful {
  color: green;
}

.help-window--profile {
  top: 0;
  left: 0;
  width: 30%;
}
