@import '../../../styles/mixins.scss';

.profile_header {
  @include flexCenter;
}

.profile_avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;

  @include defaultTransition;

  object-fit: cover;

  &:hover {
    filter: brightness(0.8);
  }
}
