@import '../../../styles/mixins.scss';
@import '../../../styles/vars.scss';

.profile_header {
  @include flexCenter;
  position: relative;
}

.profile_avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;

  @include defaultTransition;

  object-fit: cover;

  &:hover {
    filter: brightness(0.8);
  }

  &--error {
    border: 1px solid lighten($red, 20);
  }
}

.custom-avatar-upload {
  cursor: pointer;
  background-color: $black;
  color: $white;

  width: 75px;
  height: 20px;
  border-radius: 5px;

  @include flexCenter;

  font-family: 'Raleway', sans-serif;

  position: absolute;
  left: 0;
  bottom: 0;
}

#avatar-upload {
  display: none;
}
