@import '../../../styles/vars.scss';
@import '../../../styles/mixins.scss';

.sidebar_card {
  width: 100%;

  a {
    display: inline-block;
    padding: 15px calc((60px - 26px) / 2);

    color: inherit;

    @include flexCenter;

    @include defaultTransition;

    &:hover {
      background-color: $doubleGrey;
    }
  }

  @include iconSize;
}

.sidebar_card--debounced {
  a {
    justify-content: space-between;
  }
}
